/* eslint-disable */
/* eslint-disable no-unused-vars, no-console */

@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;800&display=swap');
@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  font-family: 'Poppins', sans-serif;
  box-sizing: border-box;
}

::-webkit-scrollbar {
  width: 7px;
 
}

::-webkit-scrollbar-track {
  background: trasparent;
}

::-webkit-scrollbar-thumb {
  background: #a768fa;
  border-radius: 15px;
  height: 30%;
  
}


body {
  background-color: #0f0c17;
  height: 100vh;
}

p{
  color: #7c798b;
}

.container_layout {
  @apply px-4 sm:px-32;
  
}

.button_default {
  @apply text-lg px-5 py-3 border rounded-md border-neutral-800 bg-zinc-800/30 justify-center
}

.card_project {
  @apply w-5/6 h-full lg:w-1/3 lg:h-1/2 pb-5 border rounded-md border-neutral-800 bg-zinc-800/30 cursor-pointer overflow-hidden
}

.nav-links a {
  position: relative;
  padding-bottom: 10px;
}

.nav-links a::after {
  content: ' ';
  width: 0%;
  height: 4px;
  background-color: #a768fa;
  position: absolute;
  bottom: 0;
  left: 0;
  transition: 0.5s ease-in-out;
}

.nav-links a:hover::after {
  width: 80%;
}

.wrapper {
  height: 400px;
  width: 300px;
  border-radius: 6px;
  overflow: hidden;
  
}

.wrapper img {
  cursor: pointer;
  transition: 0.5s ease-in-out;
}

.wrapper img:hover {
  transform: scale(1.3);
  filter: grayscale(0%);
}

.card_effect {
  cursor: pointer;
  transition: 0.5s ease-in-out;
}

.card_effect img {
  transition: ease-in-out 0.5s;
}

.card_effect img:hover {
  transform: scale(1.15);
  filter: grayscale(0%);
}

.scroll-to-top {
  background-color: rgb(94, 23, 235, 0.3) !important;
  border-radius: 100% !important;
  width: 50px !important;
  height: 50px !important;
}

.top-btn svg {
  display: inline;
  background-color: transparent;
  border-radius: 100%;
}